.classpath
.project
.settings/
.gradle/
target/
*~
*.lo
*.o
*.la
*.so
*.class
*.jar
*.war
*.ear
hs_err_pid*
**/build/
**/CMakeFiles/
*.cmake
gradle-app.setting
gradle.properties
!gradle-wrapper.jar
test-output/
build/
aclocal.m4
configure
dist
m4
Makefile.in
ar-lib
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
.deps/
.libs/
Makefile
config.h
config.log
config.status
libtool
stamp-h1
autom4te.cache/
*.dat
*.log
core.*
\#*
.\#*
dependency-reduced-pom.xml
service-dist/
.*.html
testlog/
.DS_Store
*.patch
*.swp
*.pyc
.cache-tests
.cache-main
*.mne
*.iml
.idea/
GPATH
GRTAGS
GTAGS
TAGS
.dccache
Cargo.lock
snyk-*
.history/
