.classpath
.project
.settings/
target/
*~
*.lo
*.o
*.la
*.so
test-output/
build/
aclocal.m4
configure
dist
m4
Makefile.in
ar-lib
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
.deps/
.libs/
Makefile
config.h
config.log
config.status
libtool
stamp-h1
autom4te.cache/
*.dat
*.log
core.*
\#*
.\#*
dependency-reduced-pom.xml
/allocator-services/service-dist/
