<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1" parallel="tests" thread-count="1">
  <test name="Test">
    <classes>
      <class name="org.apache.mnemonic.collections.DurableNodeValueNGTest"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


<!--
      <class name="org.apache.mnemonic.collections.Person"/>
      <class name="org.apache.mnemonic.collections.DurablePersonNGTest"/>
      <class name="org.apache.mnemonic.collections.DurableListNGTest"/>
      <class name="org.apache.mnemonic.collections.DurableNodeValueNGTest"/> 
 -->
