<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1" parallel="tests" thread-count="1">
  <test name="Test">
    <classes>
      <class name="com.intel.bigdatamem.collections.NonVolatileNodeValueNGTest"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


<!--
      <class name="com.intel.bigdatamem.collections.Person"/>
      <class name="com.intel.bigdatamem.collections.NonVolatilePersonNGTest"/>
      <class name="com.intel.bigdatamem.collections.NonVolatileListNGTest"/>
      <class name="com.intel.bigdatamem.collections.NonVolatileNodeValueNGTest"/> 
 -->
