<?xml version="1.0" encoding="UTF-8"?>

<suite name="Mnenomic Core test Suite" verbose="1" parallel="tests" thread-count="1">
	<test name="Memory Clustering test" >
		<classes>
			<class name="com.intel.bigdatamem.NonVolatileListNGTest" />
		</classes>
	</test>
</suite>

<!--
			<class name="com.intel.bigdatamem.MemBufferHolderCachePoolNGTest" />
			<class name="com.intel.bigdatamem.BigDataMemAllocatorNGTest" />
			<class name="com.intel.bigdatamem.ByteBufferSerializerNGTest" />
			<class name="com.intel.bigdatamem.MemClusteringNGTest" />
			<class name="com.intel.bigdatamem.BigDataPMemAllocatorNGTest" />
			<class name="com.intel.bigdatamem.NonVolatilePersonNGTest" />
			<class name="com.intel.bigdatamem.NonVolatileListNGTest" />

 -->
